<div class="container">
  <div class="signupArea">
    
    <form>
      <div class="form-group" *ngIf="massage">
        <label>{{massage}}</label>
      </div>
      <div class="form-group">
        <label for="#username">Username: </label>
        <input type="text" id="username" class="form-control" placeholder="Enter your name" #username name = "username" >
      </div>
      <div class="form-group">
        <label for="#accountType">Account Type: </label>
        <select name="userType" id="accountType" class="form-control" id="userType" #userType name="userType">
            <option value="">Select account type</option>
            <option value="Student">Student</option>
            <option value="Teacher">Teacher</option>
        </select>
        
      </div>
      <div class="form-group">
        <label for="#email">Email: </label>
        <input type="email" id="email" class="form-control" placeholder="Enter Password" #email name="email">
      </div>
      <div class="form-group">
        <label for="#subject">Enter Subject</label>
        <input type="text" class="form-control" placeholder="Enter your here" #subject id="subject" name="subject">
      </div>  
      <div class="form-group">
        <label for="#password">Password: </label>
        <input type="password" id="password" class="form-control" placeholder="Enter Password" #password name = "password">
      </div>
      <hr>
      <div class="form-group">
        <a class="btn btn-primary" id="signupButton" (click)="signupDataHandler(username.value,email.value,password.value,userType.value,subject.value)">Sign Up</a>
      </div>
    </form>
  </div>
</div>