<div class="container">
  <div class="signupArea">
    <form>
      <div class="form-group">
        <label for="#username">Username: </label>
        <input type="text" id="username" class="form-control" placeholder="Enter your name">
      </div>
      <div class="form-group">
        <label for="#accountType">Account Type: </label>
        <select name="userType" id="accountType" class="form-control" id="userType">
            <option value="">Select account type</option>
            <option value="Student">Student</option>
            <option value="Teacher">Teacher</option>
        </select>
        
      </div>
      <div class="form-group">
          <label for="#email">Email: </label>
          <input type="email" id="email" class="form-control" placeholder="Enter Password">
        </div>
      <div class="form-group">
        <label for="#password">Password: </label>
        <input type="password" id="password" class="form-control" placeholder="Enter Password">
      </div>
      <hr>
      <div class="form-group">
        <button class="btn btn-primary" id="signupButton">Sign Up</button>
      </div>
    </form>
  </div>
</div>