.signupArea {
    width: 500px;
    height: 500px;
    box-shadow: 0 0 2px green;
    border-radius: 10px;
    margin-top: 20px;
    padding:40px;
    margin: 0 auto;
    input[type]:focus,select:focus {
        box-shadow: 0 0  3px green !important;
        border:0px;
    }
    #signupButton {
        width: 100%;
        
    }
}