<h3 class="headingMain">Video Lectures</h3>
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="videoCard">
            <div class="videoArea">
                <video class="videoView" preload = "none" controls>
                        <source src="https://res.cloudinary.com/do9bwaox0/video/upload/v1556956400/videos/WIN_20190504_00_51_05_Pro.mp4" type="video/mp4">
                </video>
            </div>
            <div class="infoArea">
                <p><span class="headingsInfo">Topic:</span> Something Great</p>
                <p><span class="headingsInfo">Instructor:</span> Something Great</p>
                <p><span class="headingsInfo">Subject:</span> Professional Ethics</p>
            </div>
        </div>
    </div>
   
</div>

    