<div class="container boxedInformation">
    <h2>Management View</h2>
    <hr>
    <h4>Over All</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No.of Students</th>
          <th scope="col">No.of Teachers</th>
          <th scope="col">No.Of Videos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>43</td>
          <td>65</td>
          <td>98</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h4>Registered Teachers</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Subject</th>
          <th scope="col">Videos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>43</td>
          <td>65</td>
          <td>98</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h4>Registered Students</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Subject</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>43</td>
          <td>65</td>
        </tr>
      </tbody>
    </table>
    
</div>

