<div class="container boxedInformation">
    <h2>Management View</h2>
    <hr>
    <h4>Over All</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">No.of Registered Users</th>
          <th scope="col">No.Of Videos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{userLength}}</td>
          <td>{{videoLength}}</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h4>Registered Users</h4>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">AccountType</th>
          <th scope="col">Subject</th>
          <th scope="col">Email Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let usr of user">
          <td>{{usr.username}}</td>
          <td>{{usr.accountType}}</td>
          <td>{{usr.subject}}</td>
          <td>{{usr.emailAddress}}</td>
        </tr>
      </tbody>
    </table>
   
</div>

